h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.field-checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.field-checkbox * {
  cursor: pointer;
  user-select: none;
}

#app {
  background-color: var(--surface-ground);
}
